* {
    box-sizing: border-box;
    line-height: 1;
}

:root {
    --bg-font: rgba(0, 0, 0, 0.8);
}

.wmmodal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    background-color: var(--bg-font);
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
    }
    &__container {
        width: 600px;
        height: 600px;
        background-color: white;
    }
}